@page
@model DisasterAlleviationFoundationPOE.Pages.RegistrationModel
@{
    ViewData["Title"] = "Registration";
}

<h3>Registration</h3>

<div class="container">

    <form method="POST">
        <label for="URusername">Username</label><br>
        <input type="text" id="URusername" name="userregusername"><br>

        <label for="URpassword">Password</label><br>
        <input type="password" id="URpassword" name="userregpassword"><br>

        <input type="submit" value="Submit">


    </form>
 
</div>